.navbar {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.nav-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  top: 0;
  width: 100%;
}

.navbar-container {
  position: fixed;
  top: 0;
  margin: auto;
  padding: 10px 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo {
  color: #FF6A00;
  text-decoration: none;
}

.web-navbar-links {
  display: flex;
  gap: 20px;
  z-index: 2000;
  color: #333;
}
.web-navbar-links a:hover {
  color: #FF6A00;
}
.web-navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: large;
  transition: color 0.3s ease;
}

.web-navbar-links .dropdown {
  position: relative;
  display: inline-block;
}

.web-navbar-links .dropbtn {
  cursor: pointer;
  color: #333;
}


.web-navbar-links .dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 400px;
  z-index: 1;
  top: 100%;
  left: -15;
}

.web-navbar-links .dropdownContent a {
  display: block;
  padding: 0.75rem ;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  border-bottom: 2px solid #f0f0f0;
}

.web-navbar-links .dropdownContent a:hover {
  background-color: #f0f0f0;
  color:#FF6A00;
}

.web-navbar-links .dropdown:hover .dropdownContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}


.navbar-links{
  display: none;
}
.navbar-links a:hover {
  color: #FF6A00;
}

.navbar-cta {
  background: linear-gradient(to right, #FF6A00, #FFB347);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.navbar-cta:hover {
  transform: scale(1.05);
}

/* Mobile Styles */
.navbar-toggle {
  width: 30px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  border: 1px solid rgb(233, 233, 233);
  padding: .7rem;
  border-radius: 10px;
  background-color: #f0f0f0;
  z-index: 3000;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.4s ease;
  transform-origin: center;
  transform: translateZ(0);
}

.m-dropdown{
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  background: #f0f0f0;
}

.m-dropdownContent {
  display: none;
  margin-left: 2rem;
  width: 100%;
}

.m-dropdownContent a{
  border-bottom: 1px solid white;
}

.m-dropdownContent.active{
  display: flex;
  flex-direction: column;
}

.pm-dropdownContent {
  width: 100%;
  flex-direction: column;
  margin-left: 2rem;
  display: none;
}

.pm-dropdownContent a{
  border-bottom: 1px solid white;
}

.pm-dropdownContent.active{
  display: flex;
}

/* Animation when menu is open */
.navbar-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .navbar-logo img{
    width: 60px;
  }
  .navbar-container{
    justify-content: space-between;
  }
  .web-navbar-links{
    display: none;
  }
  .navbar-links {
    position: fixed;
    right: -100%;
    top: 85;
    width: 70%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: right 0.5s ease-out;
    color: #333;
    gap: 2px;
    align-items: flex-start;
    z-index: 500;
    height: 100vh;
  }

  .navbar-links a{
    background: #f0f0f0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1500;
  }

  .navbar-links.active {
    right: 0;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-cta {
    display: none;
  }
}