/* homepage.css */
.pack-page{
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.packages{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.pack-page h2{
  font-size: 2rem;
  text-align: center;
  color: #555;
  padding: 1rem;
  padding-top: 4rem;
}

.home-package-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}


.home-package-card {
  width: 100%;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.home-package-card:hover {
  transform: translateY(-5px);
  border-color: orangered;
}

.home-package-card h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: orangered;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
}

.home-package-card .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.home-package-card ul {
  list-style: none;
  margin-bottom: 1.5rem;
}

.home-package-card li {
  margin: 2px 0;
  font-size: 1.3rem;
  background-color: #f1f1f1f1;
  color: #555;
  padding: 0.5rem 0;
  text-align: left;
  padding-left: 1rem;
}

.home-package-card li::before {
  content: "✓"; /* Unicode checkmark */
  color: #FF6A00; /* Your brand accent */
  font-weight: bold;
  margin-right: 10px;
}

.package-button {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.package-button:hover {
  background-color: rgb(255, 103, 48);
}

.custom-package{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}
.custom{
  text-align: center;
  font-size: 2rem;
  color: #555;
}

.contact-btn{
  padding: 1rem 2rem;
  font-size: larger;
  font-weight: bold;
  margin: 1rem;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
}
.contact-btn:hover{
  background-color: #ff9b54;
  scale: 1.1;
}
@media (max-width:760px) {
  .home-package-card{
    grid-column: span 3;
  }
  .custom{
    font-size: 1.5rem;
  }
}