
.service-page{
    padding: 4rem 0;
    background-color: #dafeff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-page h2{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    color: #555;
}

.service-container{
    padding: 1rem;
}

.hero-grid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

.hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  transition: transform 0.3s ease;
}
.hero-card:hover{
  transform: translateY(-5px);
  border-color: rgb(0, 94, 201);
}

.hero-card img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}
.hero-card h2{
    font-size: 1.5rem;
    padding: 4px;
    color: #3d4a53;
}

@media (max-width: 760px) {
    .hero-card{
        grid-column: span 3;
    }
}