
.service-page{
    padding: 4rem 0;
    background-color: #dafeff;
}

.service-page h2{
    font-size: 2rem;
    color: rgb(40, 47, 54);
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
    font-weight: bolder;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1200px;
}

.hero-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  transition: transform 0.3s ease;
}
.hero-card:hover{
  transform: translateY(-5px);
  border-color: rgb(0, 94, 201);
}

.hero-card img{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}
.hero-card h2{
    font-size: 1.5rem;
    padding: 4px;
    color: rgb(0, 84, 153);
}

@media (max-width: 760px) {
    .hero-card{
        grid-column: span 3;
    }
}