.custom-package{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.alert{
  display: none;
  position: absolute;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 8rem 2rem;
  z-index: 3;
  font-weight: bold;
}
.alert::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  z-index: -2;
}

.show-alert{
  display: block;
}

table {
  max-width: 1200px;
  border-collapse: collapse;
  margin-top: 2rem;
  z-index: 1;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #ff9800;
  color: white;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.checkbox-label>input{
  width: 20px;
  height: 20px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.amount-input {
  width: 40px;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.qty-btn {
  background-color: #eee;
  border: none;
  padding: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
}

.qty-btn:hover {
  background-color: #ddd;
}
.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.btn-orange {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #ff9800;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-orange:hover {
  background-color: #e65100;
}
