

.page{
    margin: 5rem 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 1200px;
    padding: 0 2rem;
}
.main {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.dev-hero {
  background-image: url("../../public/Images/Digital-banner.jpg");
  background-repeat: no-repeat;
  background-position: left;
  object-fit: cover;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 2rem;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dev-hero h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem 0;
}

.container>p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.industries ul {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.industries li {
  margin: 2px 0;
  font-size: 1.1rem;
  background-color: #17245d;
  padding: 8px;
  color: rgb(255, 255, 255);
}

.industries li strong{
  color: orange;
}

.features .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.features>div>div{
  border: 2px solid #f0f0f0;
}
.features h3 {
  margin-bottom: 0.5rem;
  background-color: #333333;
  color: orange;
  padding: 0.5rem;
}

.features p{
  padding: 1rem;
}

.seo{
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: #f3f3f3;
}

.seo h2{
  color: orange;
  padding: 0.5rem 1rem;
}
.seo ul {
  list-style: none;
  margin-left: 1rem;
}

.seo p{
  margin-left: 1rem;
}

.seo ul li{
  padding: 0.5rem 0;
}
.seo li::before{
  content: "✓"; /* Unicode checkmark */
  color: #FF6A00; /* Your brand accent */
  font-weight: bold;
  margin-right: 10px;
}

.cta {
  text-align: left;
  margin-top: 3rem;
  background-color: #e6f7ff;
  padding: 2rem;
  border-radius: 8px;
}

.cta p{
  max-width: 800px;
}


.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}